.red {
  color: #ffeb3b;
  background-color: #ff5252;
}

.blue {
  color: white;
  background-color: #3f51b5;
}

.yellow {
  color: black;
  background-color: #ffeb3b;
}

body {
  margin: 0;
}

.black {
  background-color: black;
  color: white;
}

.white {
  background-color: white;
  color: black;
}

.page {
  box-sizing: border-box;
  height: 100vh;
  padding: 10vh 10vh 20vh 10vh;
  text-align: justify;
  display: flex;
}

.stuff-holder {
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
}

.bigstuff {
  width: 66vh;
  height: 66vh;
  flex-grow: 2;
}

.stuff {
  width: 44vh;
  height: 44vh;
  flex-grow: 1;
}

h1 {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 15vh;
}

h2 {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 8vh;
  padding-bottom: 7vh;
}

h3 {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 5vh;
  line-height: 8vh; // same as h2 font size
}

p {
  font-family: 'PT Serif', serif;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 4vh;
  line-height: 1.5;
  padding-bottom: 5vh;
}

a {
  text-decoration: none;
}

.stuff-header {
  width: 44vh;
  height: 44vh;
  float: left;
}

.stuff-description {
  box-sizing: border-box;
  text-align: justify;
  margin-left: 44vh;
  margin-bottom: -0.5vh;
  padding: 5vh 10vh 0 7vh;
  position: relative;
}

.stuff-description:before {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  top: 0;
  left: -39.5vh;
  width: 1vh;
  height: 100%;
  clip-path: polygon(0 0.5vh, 100% 0, 100% calc(100% - 0.5vh), 0 100%);
}

.postbox {
  box-sizing: border-box;
  text-align: justify;
  margin-bottom: -0.5vh;
  padding: 5vh 10vh 5vh 10vh;
  position: relative;
}

.postbox:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 4.5vh;
  width: 1vh;
  height: 100%;
  clip-path: polygon(0 0.5vh, 100% 0, 100% calc(100% - 0.5vh), 0 100%);
}

.post-red:before {
  background-color: #ff5252;
}

.post-blue:before {
  background-color: #3f51b5;
}

.post-yellow:before {
  background-color: #ffeb3b;
}

.datebox {
  float: right;
}
