<style>
  input, textarea, fieldset, button {
    border: none;
  }

fieldset {
display: inline-block;
}
  label, input {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 5vh;
  }

  label {
    display:inline-block;
    text-align: right;
    width: 9vh;
  }

  input {
    border-bottom: .1vh solid #c0c0c0;
  }

  input:focus, textarea:focus {
    outline: none;
  }

  ::placeholder {
    color: #c0c0c0;
  }

  input:disabled {
    color: black;
    background: none;
  }

  button {
    cursor: pointer;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 5vh;
    width: 20vh;
    height: 10vh;
    clip-path: polygon(2vh 0, calc(100% - 3vh) 0%, 100% 50%, calc(100% - 3vh) 100%, 2vh 100%);
    right: 0px;
    bottom: 0px;
    position: absolute;
  }

  .stamp {
    clip-path: url(#stampClip);
    right: 0px;
    position: absolute;
    line-height: 20vh;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 5vh;
    width: 20vh;
    height: 20vh;
    text-align: center;
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-flow: row;
  }

  .letter-message {
    font-family: 'PT Serif', serif;
    font-size: 4vh;
    margin: 15px;
    height: 100%;
  }

  .letter-left {
    border-right: 1px solid black;
    flex: 2;
    flex-flow: column;
    display: flex;
  }

  .letter-right {
    position: relative;
    text-align: center;
    flex: 1;
  }

  .letter-to-field {
    line-height: 70vh;
  }

@media all and (min-width: 700px) {
  /* We tell both sidebars to share a row */
 .letter-left .letter-right { flex: 1 auto; }
}

@media all and (max-width: 700px) {
  .fancyjunk { display: none; }

  .letter-left {
    border-right: none;
  }
}

</style>
<svg width="0" height="0">
    <defs>
        <clipPath id="stampClip" clipPathUnits="objectBoundingBox">
          <path
              d="M.175 .125
                 a .05 .05 0 0 1 -.05 .05 v .05
                 a .05 .05 0 0 1 0 .1 v .05
                 a .05 .05 0 0 1 0 .1 v .05
                 a .05 .05 0 0 1 0 .1 v .05
                 a .05 .05 0 0 1 0 .1 v .05
                 a .05 .05 0 0 1 .05 .05 h .05
                 a .05 .05 0 0 1 .1 0 h .05
                 a .05 .05 0 0 1 .1 0 h .05
                 a .05 .05 0 0 1 .1 0 h .05
                 a .05 .05 0 0 1 .1 0 h .05
                 a .05 .05 0 0 1 .05 -.05 v -.05
                 a .05 .05 0 0 1 0 -.1 v -.05
                 a .05 .05 0 0 1 0 -.1 v -.05
                 a .05 .05 0 0 1 0 -.1 v -.05
                 a .05 .05 0 0 1 0 -.1 v -.05
                 a .05 .05 0 0 1 -.05 -.05 h -.05
                 a .05 .05 0 0 1 -.1 0 h -.05
                 a .05 .05 0 0 1 -.1 0 h -.05
                 a .05 .05 0 0 1 -.1 0 h -.05
                 a .05 .05 0 0 1 -.1 0 z"/>
        </clipPath>
    </defs>
    <use href="#svgPath"/>
</svg>
<form id="gform" method="POST"
    action="https://script.google.com/a/ompo.ly/macros/s/AKfycbyfHkXDqQxZav5vc8CVvmkI8PhkCkg1u5-cq8-u01B9JSDqN0U/exec">
</form>
<div class="wrapper">
  <div class="letter-left">
    <fieldset>
      <label class="fancyjunk">From:</label>
      <input form="gform" id="name" name="name" placeholder="Your Name"/>
    </fieldset>
    <fieldset>
      <label class="fancyjunk"></label>
      <input form="gform" id="email" name="email" type="email" value=""
      required placeholder="your.email@dd.ress"/>
      <span id="email-invalid" style="display:none">
        Must be a valid email address</span>
    </fieldset>
    <fieldset style="display: none">
      <input form="gform" id="honeypot" type="text" name="honeypot" value=""/>
    </fieldset>
    <textarea form="gform" class="letter-message" id="message" name="message"
        placeholder="Type your message here."></textarea>
  </div>
  <div class="letter-right">
    <div class="red stamp fancyjunk"></div>
    <fieldset class="letter-to-field fancyjunk" style="display: inline">
      <label>To:</label>
      <input id="name" name="name" value="ompo.ly" disabled style="width: 20vh;"/>
    </fieldset>
    <button class="blue" form="gform">post</button>
  </div>
</div>

<script data-cfasync="false" type="text/javascript" src="./script/form-submission-handler.js"></script>
