.nav-bar {
  position: fixed;
  height: 10vh;
  width: 100vw;
  bottom: 0;
  display: flex;
  z-index: 1;
}

.nav-button {
  cursor: pointer;
  clip-path: polygon(3vh 0, 100% 0, calc(100% - 3vh) 100%, 0 100%);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 5vh;
  margin: 0 -1.5vh 0 -1.5vh;
  outline: none;
  line-height: 10vh;
  text-align: center;
  transition: flex-grow .5s ease-in-out, 
              background-color .5s ease-in-out;
  width: 20vh;
}

.nav-extended.bright {
  color: black;
  background-color: rgba(255, 255, 255, .8);
}

.nav-extended.dark {
  color: white;
  background-color: rgba(0, 0, 0, .8);
}

.nav-extended {
  flex-grow: 1;
}

.nav-first {
  clip-path: polygon(0 0, 100% 0, calc(100% - 3vh) 100%, 0 100%) !important;
}

.nav-last {
  clip-path: polygon(3vh 0, 100% 0, 100% 100%, 0 100%) !important;
}
